body{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
h1,h2,h3,p{
    padding: 0;
    margin: 0;
}
ul,ol{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    background: #fff;
    border:none;
    cursor: pointer;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
.header-top{
    background: #EFEFEF ;
    display: flex;
    justify-content: center;
    padding-top: 16px ;
    padding-bottom: 16px;
}
.top-menu{
    display: flex ;
}
.top-menu>li{
    margin-right: 30px;
}
.top-meni>li:last-child{
    margin-right: 0px;
}
.top-meni>li{
    font-weight: 400;
    font-size: 14px;
    color: #333;
}
.tel{
font-weight: 400;
font-size: 16px;
color: #000;
}
.recall{
    border: 2px solid #66c05d;
    border-radius: 40px;
    width: 170px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    margin-left: 40px;
}
.medium{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}
.header-medium{
    border-bottom: 1px solid #efefef;
}
.header-bottom{
    display: flex;
    justify-content: center;
    padding-top:30px;
    padding-bottom: 30px;
}
.bottom-menu{
    display: flex;
}

.bottom-menu>li{
    margin-right: 40px ;
}
.bottom-menu>li:last-child{
    margin-right: 0;
}
.bottom-menu>li>a{
    font-weight: 400;
    font-size: 16px;
    color: #000;
}
.banner{
    background: url("../img/banner.png");
    background-repeat: no-repeat;
    background-size: cover ;
    padding-top: 192px;
    padding-bottom: 192px;

}
h1{
    font-weight: 700;
    font-size: 48px;
    color: #fff;
    margin-bottom: 50px;
}
.banner-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    max-width: 308px;
    margin-bottom: 50px;
}
.banner-btn{
    border: 2px solid #fff;
    border-radius: 40px;
    width: 170px;
    height: 40px;
    background: #66c05d;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #fff;
}
.special{
    background: #efefef;
    padding-top: 80px;
}
.special>h2{
    font-weight: 700px;
    font-size: 24px;
    color: #000;
}
.chair{
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
}
.chair-item{
    background: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 30px;
    padding-left: 30px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.chair-item>h3{
    font-weight: 400;
    font-size: 14px;
    line-height: 141%;
    text-align: center;
    color: #333;
    max-width: 195px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.chair-item>span{
    font-weight: 500;
    font-size: 21px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #000;
    margin-bottom: 20px;
}
.chair-item>button{
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
    padding:9px 40px 9px 40px ;
    background: #66c05d;
    border-radius: 30px;
}
.bonus{
    background: #efefef;
    padding-top: 100px;
    padding-bottom: 132px;
}
.bonus-box{
    display: flex;
    justify-content: space-between;
}
.bonus-item1{
    width: 540px;
    background: #66c05d;
    padding: 35px 45px 35px 40px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.text>h3{
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-bottom: 25px;

}
.text>p{
    font-weight: 400;
    font-size: 14px;
    line-height: 141%;
    color: #fff;
    max-width: 230px;
    margin-bottom: 25px;
}
.text>input{
    border: none;
    width: 225px;
    height: 35px;
    border-radius: 30px;
    padding-left: 25px;
}
.text>input::placeholder{
    font-weight: 400;
    font-size: 14px;
    color: #c4c4c4;
}
.bonus-item2{
    width: 540px;
    background: #66c05d;
    padding: 35px 45px 35px 40px;
    box-sizing: border-box;
}
.bonus-item2>h3{
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-bottom: 25px;
}
.bonus-item2>p{
font-weight: 400;
font-size: 14px;
line-height: 141%;
color: #fff;
max-width: 141px;
margin-bottom: 25px;
}
.bonus-item2>button{
    border: 2px solid #fff;
    border-radius: 30px;
    background: #66c05d;
    padding: 9px 28px 9px 28px;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}
.top{
    padding-top: 38px;
    padding-bottom: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.footer-soci{
    display: flex;
}
.footer-soci>li{
    margin-right: 20px;
}
.footer-soci>li:last-child{
    margin-right: 0px;
}
.top>p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.footer-bottom{
    background: #EFEFEF;
    padding-top: 25px;
    padding-bottom: 25px;
}
.bottom{
    display: flex;
    justify-content: space-between;
}
.bottom>p{
    font-weight: 400;
    font-size: 12px;
    color: #828282;
}
.bottom>a{
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    color: #828282;
}