body{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
h1,h2,h3,p{
    padding: 0;
    margin: 0;
}
ul,ol{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    background: #fff;
    border:none;
    cursor: pointer;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
.header-top{
    background: #EFEFEF ;
    display: flex;
    justify-content: center;
    padding-top: 16px ;
    padding-bottom: 16px;
}
.top-menu{
    display: flex ;
}
.top-menu>li{
    margin-right: 30px;
}
.top-meni>li:last-child{
    margin-right: 0px;
}
.top-meni>li{
    font-weight: 400;
    font-size: 14px;
    color: #333;
}
.tel{
font-weight: 400;
font-size: 16px;
color: #000;
}
.recall{
    border: 2px solid #66c05d;
    border-radius: 40px;
    width: 170px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    margin-left: 40px;
}
.medium{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}
.header-medium{
    border-bottom: 1px solid #efefef;
}
.header-bottom{
    display: flex;
    justify-content: center;
    padding-top:30px;
    padding-bottom: 30px;
}
.bottom-menu{
    display: flex;
}

.bottom-menu>li{
    margin-right: 40px ;
}
.bottom-menu>li:last-child{
    margin-right: 0;
}
.bottom-menu>li>a{
    font-weight: 400;
    font-size: 16px;
    color: #000;
}